<section class="mx-5">
  <h1 class="text-2xl font-bold">Pipes Basicos</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>
<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">LowerCase Pipe</div>
    <div class="stat-value">{{ nameUpper() | lowercase }}</div>
    <div class="stat-desc">Original: {{ nameUpper() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">UpperCase Pipe</div>
    <div class="stat-value">{{ nameLower() | uppercase }}</div>
    <div class="stat-desc">Original: {{ nameLower() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">TitleCase Pipe</div>
    <div class="stat-value">{{ fullName() | titlecase }}</div>
    <div class="stat-desc">Original: {{ fullName() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Date Pipe</div>
    <div class="stat-value">{{ customDate() | date }}</div>
    <div class="stat-desc">Original: {{ customDate() }}</div>
  </div>
  <div class="stat">
    <div class="stat-title">Date|short|GMT+1</div>
    <div class="stat-value">{{ customDate() | date : 'short' : 'GMT+1' }}</div>
    <div class="stat-desc">Original: {{ customDate() }}</div>
  </div>
  <div class="stat">
    <div class="stat-title">Date|medium|GMT+1</div>
    <div class="stat-value">{{ customDate() | date : 'medium' : 'GMT+1' }}</div>
    <div class="stat-desc">Original: {{ customDate() }}</div>
  </div>
  <div class="stat">
    <div class="stat-title">Date|long|GMT+1</div>
    <div class="stat-value">{{ customDate() | date : 'long' : 'GMT+1' }}</div>
    <div class="stat-desc">Original: {{ customDate() }}</div>
  </div>
</div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Date 'yyyy MM'</div>
    <div class="stat-value">{{ customDate() | date : 'yyyy MM' }}</div>
    <div class="stat-desc">Original: {{ customDate() }}</div>
  </div>
</div>

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Date 'dd/MM/yyyy'</div>
    <div class="stat-value">{{ customDate() | date : 'dd/MM/yyyy' }}</div>
    <div class="stat-desc">Original: {{ customDate() }}</div>
  </div>
  <div class="stat">
    <div class="stat-title">Date 'HH/mm/ss'</div>
    <div class="stat-value">{{ customDate() | date : 'HH:mm:ss' }}</div>
    <div class="stat-desc">Original: {{ customDate() }}</div>
  </div>
  <div class="stat">
    <div class="stat-title">Date 'EEEE D, MMMM'</div>
    <div class="stat-value">{{ customDate() | date : 'EEEE d, MMMM' }}</div>
    <div class="stat-desc">Original: {{ customDate() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="flex flex-row items-center">
  <div class="basis-1/3 flex justify-start items-center gap-2">
    <h1 class="text-2xl font-bold">Localizacion Actual</h1>
    <span class="badge badge-secondary font-bold text-white">ES</span>
  </div>
  <div class="basis-2/3 flex justify-end items-center gap-2">
    <button class="btn btn-primary text-white">Changer en français</button>
    <button class="btn btn-primary text-white">Change to english</button>
    <button class="btn btn-primary text-white">Cambiar a español</button>
  </div>
</div>
